*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #707070;
}

.container{
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw 15vw 15vw; 
    justify-content: center;
    align-content: start;
    grid-gap: 1vw;
}
.container-flex{
    display: flex;
}

h1{
    grid-column: span 6;
    padding-top: 15vh;
    font-size: 140%;
    margin-left: 2%;
}
#logo{
    grid-column: 3/5;
}
#logo img{
    width: 30vw;
}
nav{
    width: 100vw;
    grid-column: span 6;
}
nav ul li{
    display: inline;
    list-style: none;
}
nav ul li a{
    padding: 2% 4% 2% 4%; 
    text-decoration: none;
    color: #000;
    margin-left: 1%;
}
nav ul li a:hover{
    background-color: #000;
    color: #fff;
}

header{
    width: 102vw;
    height: 15vh;
    border: 1px solid black;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f8f6f6;
}
section{
    width: 100vw;
}
section div{
    grid-column: span 6;
}
h1{
    grid-column: span 6;
    line-height: 40px;
}
h2{
    border: 1px solid #000;  
    background-color: #f8f6f6;
}
h3{
    text-align: justify;
    color: #808080
    
}
p{
    text-align: justify;
    background-color: #fff;
}
#sobre div div{
    float: left;
    width: 50%;
    align-self: flex-end
}
#sobre div div img{
    width: 90%;
    border: black 1px solid;
}
#sobre{
    letter-spacing: 1px;
    line-height: 20px; 
}
#sobre div p{
    text-indent: 20px;
    text-align: justify;
}

#cursos div img {
    width:100%;
}

#cursos div h2{
    margin-top: 1vh;
    text-align: Center;
    padding: 2vh 0 2vh 0;
}
#cursos div{
    grid-column: 2/ span 4;
}

#design{
    background-color: #f8f6f6;
    border-top-color: greenyellow;
    border-top-style: solid;
    border-top-width: 5px;
}
#prog{
    background-color: #f8f6f6;
    border-top-color: rgb(162, 40, 76);
    border-top-style: solid;
    border-top-width: 5px;
}

#bd{
    background-color: #f8f6f6;
    border-top-color: rgb(2, 88, 174);
    border-top-style: solid;
    border-top-width: 5px;
}

#Bronze{
    background-color: #b38a22;
    text-align: center;
    padding: 1vh 3vh 3vh 3vh;
}

#Prata{
    background-color: silver;
    text-align: center;
    padding: 1vh 3vh 3vh 3vh;
}

#Ouro{
    background-color: gold;
    text-align: center;
    padding: 1vh 3vh 3vh 3vh;
}

.tipo-plano{
    border: 1px solid #000;
}
@media only screen and (min-width: 980px){
    #logo{
        grid-column: 1/2;
    }
    #logo img{
        width: 10vw;
    }
    nav{
        grid-column: 3/6
    }
    section div{
        grid-column: span 2;
    }
    #sobre div{
        grid-column: span 3;
    }

    #cursos{
        display:flex;
    }
    #cursos div{
        align-self: flex-end;
        width: 30%;
    }
    #Contratar:hover{
        border: 0.3vh solid #000;  
        background-color: #f8f6f6;
    }  
    #planos{
        display: flex;
    }
    #planos div{
        align-self: flex-end;
        width: 30%;
    }
    #planos div p{
        font-size: 170%;
        line-height: 50px;
    }
    #valores{
        grid-column: span 6;
    }
    #valores div{
        margin-top: 5vh;
    }
    h3#q{
        border: solid thin 1vh #fff;
        border-left: solid 1.5vh #d43737;
        padding: 0.4vh;
        margin-top: 2vh;
    }

    h3#e{
        border: solid thin 1vh #fff;
        border-left: solid 1.5vh #3741d4;
        padding: 0.4vh;
        margin-top: 2vh;
    }

    h3#c{
        border: solid thin 1vh #fff;
        border-left: solid 1.5vh #f8cf18;
        padding: 0.4vh;
        margin-top: 2vh;
    }

    h3#i{
        border: solid thin 1vh #fff;
        border-left: solid 1.5vh #d437a5;
        padding: 0.4vh;
        margin-top: 2vh;
    }

    h3#p2{
        border: solid thin 1vh #fff;
        border-left: solid 1.5vh #1a8d24;
        padding: 0.4vh;
        margin-top: 2vh;
    }

    h3#q2{
        border: solid thin 1vh #fff;
        border-left: solid 1.5vh #48D1CC;
        padding: 0.4vh;
        margin-top: 2vh;
    }



}